* {
  margin: 0px;
  padding: 0px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(158, 158, 158);
  padding: 10px;
}
.logo {
  width: 80px;
}
li {
  list-style: none;
  font-size: 20px;
}
li:hover {
  color: blue;
  cursor: pointer;
}
.menue-containar {
  display: flex;
  gap: 15px;
}
.banner-image {
  width: 200px;
}
.banner-containar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
  gap: 50%;
  /* background-image: url(image/rui_bgi.jpeg); */
}
.banner-left {
  width: 400px;
  line-height: 1.5;
}
.btn {
  padding: 15px 30px;
  border: none;
  color: white;
}
.hire-btn {
  background-color: rgb(76, 5, 151);
}
.project-btn {
  background-color: rgb(2, 94, 252);
}
.title {
  font-size: 45px;
}
.profesion {
  font-size: 20px;
}
.service-container {
  margin-top: 30px;
}
.service-title {
  margin-top: 30;
  font-size: 50px;
  text-align: center;
}
.service-card {
  width: 300px;
  height: 430px;
  /* border: 1px solid gray; */
  box-shadow: 4px 4px 8px gray;
  border-radius: 7px;
  text-align: center;
}
.service-img {
  width: 250px;
  height: 200px;
}
.service-card-btn {
  padding: 15px 16px;
  background-color: rgb(23, 170, 206);
  border: none;
  font-size: 18px;
  color: white;
  border-radius: 100px;
}
.service-h {
  margin-top: 30px;
}
.service-dis {
  margin: 10px;
}
.services {
  display: flex;
  justify-content: center;
  gap: 20px;
}
a {
  text-decoration: none;
  color: rgb(243, 244, 244);
}
.contact-us {
  padding: 50px;
  width: 500px;
  margin: auto;
  box-shadow: 4px 4px 8px gray;
  text-align: center;
  margin-top: 30px;
}
.inp-box {
  padding: 15px;
  width: 50%;
  margin-top: 10px;
}
.inp-mes {
  width: 40%;
  height: 100px;
  margin-top: 15px;
}
.submit-btn {
  width: 25%;
  padding: 15px;
  background-color: blue;
  color: white;
  border: none;
  margin-top: 20px;
}

@media only screen and (min-width: 400px) and (max-width: 767px) {
  body {
    background-color: red;
  }
  .title {
    color: white;
  }
  .profesion {
    color: white;
  }
  .dis {
    color: rgb(255, 255, 255);
  }
  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  body {
    background-color: blueviolet;
  }
}
